/* https://velog.io/@teo/2022-CSS-Reset-%EB%8B%A4%EC%8B%9C-%EC%8D%A8%EB%B3%B4%EA%B8%B0 */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: "-apple-system", "Noto Sans KR", "Nanum Gothic";
  --toastify-color-progress-light: #5252b6;
  --toastify-color-progress-dark: #c1c1ff;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  object-fit: fill;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: red !important;
} */
input:-webkit-autofill {
  -webkit-background-clip: text; /* autofill 배경색 제거 */
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: inherit;
}

input:autofill {
  font-size: 16px;
}
input:-webkit-autofill {
  font-size: 16px !important;
}

/* Modal */
.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.react-datepicker__input-container {
  position: unset !important;
}
